body {
    padding: 0px;
    margin: 0px;
    width: auto; /* full window width */
    background-color: #3E6E8C;
}

.appMain {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

.leftMain {
    width: 73%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.topBar {
    /* settings for h1 header text*/
    background-color: #EBEFF2;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 3px;
    padding-left: 1%;
}

.headerMini {
    font-size: 12pt;
    color: #011826;
}

.rightSide {
    /* aside for explaining process of keeping tank clean */
    background-color: hsl(217, 38%, 34%);
    float: right;
    padding: 10px;
    width:23%;
}

.allFish {
    background-color: #8AB0BF;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
}

.fishDetails {
    background-color: #EBEFF2;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: min-content;
}

.fishHeader {
    font-size: 20pt;
    color: #042940;
}

.fishDetail_h4 {
    color: #042940;
    margin-top: 0px;
    size: 20pt;
}

.fish--img{
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.fish-text{
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 170px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0pt;
}

.fish-details--tiny-h {
    color: rgb(72, 150, 180);
    font-size: 10pt;
    margin: 0.4em;
    padding-top: 5px;
}
.fish-details--fish-name {
    font-size: 15pt;
    font-weight: bold;
    color:hsl(217, 54%, 14%);
    padding-left: 15px;
    margin-top: 0.7em;
    margin-bottom: 1em;
}
.fish-details--fish-food {
    font-size: 12pt;
    padding-left: 15px;
    margin-top: 0.7em;
    margin-bottom: 1em;
}
.fish-details--fish-length {
    font-size: 12pt;
    padding-left: 15px;
    margin-top: 0.7em;
    margin-bottom: 1em;
}
.fish-details--fish-location {
    font-size: 12pt;
    padding-left: 15px;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

.locations-section {
    background-color: #8AB0BF;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
}

.harvest-header{
    font-size: 20pt;
    color: #042940;
}

.location-details {
    background-color: #EBEFF2;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: min-content;
}

.location-details-header {
    color: #042940;
    margin-top: 0px;
    size: 18pt;
}

.location-tex {
    size: 10pt;
}

.location--img {
    width: 45%;
    height: auto;
    border-radius: 25%;
}